.hidden {
  display: none;
}

.btn-signin {
  background: #007d69 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  overflow: hidden;
  padding: 0 38px;
  position: relative;
  text-transform: uppercase;
  z-index: 2;
}

.btn-signin {
  background: #007d69 none repeat scroll 0 0;
  color: #fff;
  height: 48px;
  line-height: 48px;
  padding: 0 38px;
}

.btn-signin::after {
  background: #fff none repeat scroll 0 0;
  height: 0;
  left: 50%;
  opacity: 0;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  width: 100%;
  content: "";
  position: absolute;
  transition: all 0.5s ease 0s;
  z-index: -1;
}

.btn-signin::after {
  background: #9d2449 none repeat scroll 0 0;
}

.btn-signin:hover::after {
  height: 400%;
  opacity: 1;
}

.btn-signin:hover::after {
  height: 462%;
}

.btn-signin:hover {
  color: #fff;
}

